<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Charon De Beukelaer</title>
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Features-Centered-Icons-icons.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Projects-Grid-images.css">
    <script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/grayscale.js"></script>
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
  {% include navbar.html %}
  <main>
    <div class="container py-4 py-xl-5">
      <div class="row gy-4 row-cols-1 row-cols-md-8 row-cols-xl-8">
        <div class="col-lg-8">
          <div>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </main>
  {% include footer.html %}
</body>
</html>